{
  "openapi": "3.1.0",
  "info": {
    "termsOfService": "https://www.eclipse.org/legal/termsofuse.php",
    "license": {
      "name": "Eclipse Public License 2.0",
      "url": "https://www.eclipse.org/legal/epl-2.0/"
    },
    "version": "0.1"
  },
  "servers": [
    {
      "url": "https://open-vsx.org",
      "description": "Generated server url"
    }
  ],
  "paths": {
    "/admin/ratelimit/tiers/{name}": {
      "put": {
        "tags": [
          "rate-limit-api"
        ],
        "operationId": "updateTier",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TierJson"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Number of requests that can be made in a given amount of time",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining number of requests left in the current time window",
                "schema": {
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TierJson"
                }
              }
            }
          },
          "429": {
            "description": "A client has sent too many requests in a given amount of time",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Number of requests that can be made in a given amount of time",
                "schema": {
                  "format": "int32"
                }
              },
              "Retry-After": {
                "description": "Number of seconds to wait after receiving a 429 response",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Number of seconds until the rate limit tokens will be fully filled to its maximum",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining number of requests left in the current time window",
                "schema": {
                  "format": "int32"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "rate-limit-api"
        ],
        "operationId": "deleteTier",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Number of requests that can be made in a given amount of time",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining number of requests left in the current time window",
                "schema": {
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Result"
                    },
                    {
                      "$ref": "#/components/schemas/Extension"
                    },
                    {
                      "$ref": "#/components/schemas/Namespace"
                    },
                    {
                      "$ref": "#/components/schemas/NamespaceMembershipList"
                    },
                    {
                      "$ref": "#/components/schemas/QueryResult"
                    },
                    {
                      "$ref": "#/components/schemas/ReviewList"
                    },
                    {
                      "$ref": "#/components/schemas/SearchResult"
                    },
                    {
                      "$ref": "#/components/schemas/User"
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "A client has sent too many requests in a given amount of time",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Number of requests that can be made in a given amount of time",
                "schema": {
                  "format": "int32"
                }
              },
              "Retry-After": {
                "description": "Number of seconds to wait after receiving a 429 response",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Number of seconds until the rate limit tokens will be fully filled to its maximum",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining number of requests left in the current time window",
                "schema": {
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/admin/ratelimit/customers/{name}": {
      "get": {
        "tags": [
          "rate-limit-api"
        ],
        "operationId": "getCustomer",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Number of requests that can be made in a given amount of time",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining number of requests left in the current time window",
                "schema": {
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerJson"
                }
              }
            }
          },
          "429": {
            "description": "A client has sent too many requests in a given amount of time",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Number of requests that can be made in a given amount of time",
                "schema": {
                  "format": "int32"
                }
              },
              "Retry-After": {
                "description": "Number of seconds to wait after receiving a 429 response",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Number of seconds until the rate limit tokens will be fully filled to its maximum",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining number of requests left in the current time window",
                "schema": {
                  "format": "int32"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "rate-limit-api"
        ],
        "operationId": "updateCustomer",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerJson"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Number of requests that can be made in a given amount of time",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining number of requests left in the current time window",
                "schema": {
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerJson"
                }
              }
            }
          },
          "429": {
            "description": "A client has sent too many requests in a given amount of time",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Number of requests that can be made in a given amount of time",
                "schema": {
                  "format": "int32"
                }
              },
              "Retry-After": {
                "description": "Number of seconds to wait after receiving a 429 response",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Number of seconds until the rate limit tokens will be fully filled to its maximum",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining number of requests left in the current time window",
                "schema": {
                  "format": "int32"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "rate-limit-api"
        ],
        "operationId": "deleteCustomer",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Number of requests that can be made in a given amount of time",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining number of requests left in the current time window",
                "schema": {
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Result"
                    },
                    {
                      "$ref": "#/components/schemas/Extension"
                    },
                    {
                      "$ref": "#/components/schemas/Namespace"
                    },
                    {
                      "$ref": "#/components/schemas/NamespaceMembershipList"
                    },
                    {
                      "$ref": "#/components/schemas/QueryResult"
                    },
                    {
                      "$ref": "#/components/schemas/ReviewList"
                    },
                    {
                      "$ref": "#/components/schemas/SearchResult"
                    },
                    {
                      "$ref": "#/components/schemas/User"
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "A client has sent too many requests in a given amount of time",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Number of requests that can be made in a given amount of time",
                "schema": {
                  "format": "int32"
                }
              },
              "Retry-After": {
                "description": "Number of seconds to wait after receiving a 429 response",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Number of seconds until the rate limit tokens will be fully filled to its maximum",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining number of requests left in the current time window",
                "schema": {
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/vscode/gallery/extensionquery": {
      "get": {
        "tags": [
          "vs-code-api"
        ],
        "summary": "Provides metadata of extensions matching the given parameters",
        "operationId": "extensionQueryAsGet",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the query results",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Number of requests that can be made in a given amount of time",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining number of requests left in the current time window",
                "schema": {
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExtensionQueryResult"
                }
              }
            }
          },
          "429": {
            "description": "A client has sent too many requests in a given amount of time",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Number of requests that can be made in a given amount of time",
                "schema": {
                  "format": "int32"
                }
              },
              "Retry-After": {
                "description": "Number of seconds to wait after receiving a 429 response",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Number of seconds until the rate limit tokens will be fully filled to its maximum",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining number of requests left in the current time window",
                "schema": {
                  "format": "int32"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "vs-code-api"
        ],
        "summary": "Provides metadata of extensions matching the given parameters",
        "operationId": "extensionQuery",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExtensionQueryParam"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns the query results",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Number of requests that can be made in a given amount of time",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining number of requests left in the current time window",
                "schema": {
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExtensionQueryResult"
                }
              }
            }
          },
          "429": {
            "description": "A client has sent too many requests in a given amount of time",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Number of requests that can be made in a given amount of time",
                "schema": {
                  "format": "int32"
                }
              },
              "Retry-After": {
                "description": "Number of seconds to wait after receiving a 429 response",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Number of seconds until the rate limit tokens will be fully filled to its maximum",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining number of requests left in the current time window",
                "schema": {
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/user/token/delete/{id}": {
      "post": {
        "tags": [
          "user-api"
        ],
        "operationId": "deleteAccessToken",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Number of requests that can be made in a given amount of time",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining number of requests left in the current time window",
                "schema": {
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Result"
                    },
                    {
                      "$ref": "#/components/schemas/Extension"
                    },
                    {
                      "$ref": "#/components/schemas/Namespace"
                    },
                    {
                      "$ref": "#/components/schemas/NamespaceMembershipList"
                    },
                    {
                      "$ref": "#/components/schemas/QueryResult"
                    },
                    {
                      "$ref": "#/components/schemas/ReviewList"
                    },
                    {
                      "$ref": "#/components/schemas/SearchResult"
                    },
                    {
                      "$ref": "#/components/schemas/User"
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "A client has sent too many requests in a given amount of time",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Number of requests that can be made in a given amount of time",
                "schema": {
                  "format": "int32"
                }
              },
              "Retry-After": {
                "description": "Number of seconds to wait after receiving a 429 response",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Number of seconds until the rate limit tokens will be fully filled to its maximum",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining number of requests left in the current time window",
                "schema": {
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/user/token/create": {
      "post": {
        "tags": [
          "user-api"
        ],
        "operationId": "createAccessToken",
        "parameters": [
          {
            "name": "description",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Number of requests that can be made in a given amount of time",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining number of requests left in the current time window",
                "schema": {
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessTokenJson"
                }
              }
            }
          },
          "429": {
            "description": "A client has sent too many requests in a given amount of time",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Number of requests that can be made in a given amount of time",
                "schema": {
                  "format": "int32"
                }
              },
              "Retry-After": {
                "description": "Number of seconds to wait after receiving a 429 response",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Number of seconds until the rate limit tokens will be fully filled to its maximum",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining number of requests left in the current time window",
                "schema": {
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/user/publisher-agreement": {
      "post": {
        "tags": [
          "user-api"
        ],
        "operationId": "signPublisherAgreement",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Number of requests that can be made in a given amount of time",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining number of requests left in the current time window",
                "schema": {
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "429": {
            "description": "A client has sent too many requests in a given amount of time",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Number of requests that can be made in a given amount of time",
                "schema": {
                  "format": "int32"
                }
              },
              "Retry-After": {
                "description": "Number of seconds to wait after receiving a 429 response",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Number of seconds until the rate limit tokens will be fully filled to its maximum",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining number of requests left in the current time window",
                "schema": {
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/user/namespace/{namespace}/role": {
      "post": {
        "tags": [
          "user-api"
        ],
        "operationId": "setNamespaceMember",
        "parameters": [
          {
            "name": "namespace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "role",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "provider",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Number of requests that can be made in a given amount of time",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining number of requests left in the current time window",
                "schema": {
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Result"
                    },
                    {
                      "$ref": "#/components/schemas/Extension"
                    },
                    {
                      "$ref": "#/components/schemas/Namespace"
                    },
                    {
                      "$ref": "#/components/schemas/NamespaceMembershipList"
                    },
                    {
                      "$ref": "#/components/schemas/QueryResult"
                    },
                    {
                      "$ref": "#/components/schemas/ReviewList"
                    },
                    {
                      "$ref": "#/components/schemas/SearchResult"
                    },
                    {
                      "$ref": "#/components/schemas/User"
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "A client has sent too many requests in a given amount of time",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Number of requests that can be made in a given amount of time",
                "schema": {
                  "format": "int32"
                }
              },
              "Retry-After": {
                "description": "Number of seconds to wait after receiving a 429 response",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Number of seconds until the rate limit tokens will be fully filled to its maximum",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining number of requests left in the current time window",
                "schema": {
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/user/namespace/{namespace}/details": {
      "post": {
        "tags": [
          "user-api"
        ],
        "operationId": "updateNamespaceDetails",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NamespaceDetails"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Number of requests that can be made in a given amount of time",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining number of requests left in the current time window",
                "schema": {
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Result"
                    },
                    {
                      "$ref": "#/components/schemas/Extension"
                    },
                    {
                      "$ref": "#/components/schemas/Namespace"
                    },
                    {
                      "$ref": "#/components/schemas/NamespaceMembershipList"
                    },
                    {
                      "$ref": "#/components/schemas/QueryResult"
                    },
                    {
                      "$ref": "#/components/schemas/ReviewList"
                    },
                    {
                      "$ref": "#/components/schemas/SearchResult"
                    },
                    {
                      "$ref": "#/components/schemas/User"
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "A client has sent too many requests in a given amount of time",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Number of requests that can be made in a given amount of time",
                "schema": {
                  "format": "int32"
                }
              },
              "Retry-After": {
                "description": "Number of seconds to wait after receiving a 429 response",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Number of seconds until the rate limit tokens will be fully filled to its maximum",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining number of requests left in the current time window",
                "schema": {
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/user/namespace/{namespace}/details/logo": {
      "post": {
        "tags": [
          "user-api"
        ],
        "operationId": "updateNamespaceDetailsLogo",
        "parameters": [
          {
            "name": "namespace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Number of requests that can be made in a given amount of time",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining number of requests left in the current time window",
                "schema": {
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Result"
                    },
                    {
                      "$ref": "#/components/schemas/Extension"
                    },
                    {
                      "$ref": "#/components/schemas/Namespace"
                    },
                    {
                      "$ref": "#/components/schemas/NamespaceMembershipList"
                    },
                    {
                      "$ref": "#/components/schemas/QueryResult"
                    },
                    {
                      "$ref": "#/components/schemas/ReviewList"
                    },
                    {
                      "$ref": "#/components/schemas/SearchResult"
                    },
                    {
                      "$ref": "#/components/schemas/User"
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "A client has sent too many requests in a given amount of time",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Number of requests that can be made in a given amount of time",
                "schema": {
                  "format": "int32"
                }
              },
              "Retry-After": {
                "description": "Number of seconds to wait after receiving a 429 response",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Number of seconds until the rate limit tokens will be fully filled to its maximum",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining number of requests left in the current time window",
                "schema": {
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/user/extension/{namespaceName}/{extensionName}/delete": {
      "post": {
        "tags": [
          "user-api"
        ],
        "operationId": "deleteExtension",
        "parameters": [
          {
            "name": "namespaceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "extensionName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/TargetPlatformVersion"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Number of requests that can be made in a given amount of time",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining number of requests left in the current time window",
                "schema": {
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Result"
                    },
                    {
                      "$ref": "#/components/schemas/Extension"
                    },
                    {
                      "$ref": "#/components/schemas/Namespace"
                    },
                    {
                      "$ref": "#/components/schemas/NamespaceMembershipList"
                    },
                    {
                      "$ref": "#/components/schemas/QueryResult"
                    },
                    {
                      "$ref": "#/components/schemas/ReviewList"
                    },
                    {
                      "$ref": "#/components/schemas/SearchResult"
                    },
                    {
                      "$ref": "#/components/schemas/User"
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "A client has sent too many requests in a given amount of time",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Number of requests that can be made in a given amount of time",
                "schema": {
                  "format": "int32"
                }
              },
              "Retry-After": {
                "description": "Number of seconds to wait after receiving a 429 response",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Number of seconds until the rate limit tokens will be fully filled to its maximum",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining number of requests left in the current time window",
                "schema": {
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/api/user/publish": {
      "post": {
        "tags": [
          "registry-api"
        ],
        "summary": "Publish an extension by uploading a vsix file",
        "operationId": "publish",
        "requestBody": {
          "description": "Uploaded vsix file to publish",
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successfully published the extension",
            "headers": {
              "X-RateLimit-Remaining": {
                "description": "Remaining number of requests left in the current time window",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Number of requests that can be made in a given amount of time",
                "schema": {
                  "format": "int32"
                }
              },
              "Location": {
                "description": "The URL of the extension metadata",
                "style": "simple",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Extension"
                }
              }
            }
          },
          "400": {
            "description": "The extension could not be published",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Number of requests that can be made in a given amount of time",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining number of requests left in the current time window",
                "schema": {
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "error": "Unknown publisher: foobar"
                }
              }
            }
          },
          "403": {
            "description": "User is not logged in, has no publishing permission in the namespace, or has not signed a Publisher Agreement",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Number of requests that can be made in a given amount of time",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining number of requests left in the current time window",
                "schema": {
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Extension"
                }
              }
            }
          },
          "429": {
            "description": "A client has sent too many requests in a given amount of time",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Number of requests that can be made in a given amount of time",
                "schema": {
                  "format": "int32"
                }
              },
              "Retry-After": {
                "description": "Number of seconds to wait after receiving a 429 response",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Number of seconds until the rate limit tokens will be fully filled to its maximum",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining number of requests left in the current time window",
                "schema": {
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/api/user/namespace/create": {
      "post": {
        "tags": [
          "registry-api"
        ],
        "summary": "Create a namespace",
        "operationId": "createNamespace",
        "requestBody": {
          "description": "Describes the namespace to create",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Namespace"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successfully created the namespace",
            "headers": {
              "X-RateLimit-Remaining": {
                "description": "Remaining number of requests left in the current time window",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Number of requests that can be made in a given amount of time",
                "schema": {
                  "format": "int32"
                }
              },
              "Location": {
                "description": "The URL of the namespace metadata",
                "style": "simple",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                },
                "example": {
                  "success": "Created namespace foobar"
                }
              }
            }
          },
          "400": {
            "description": "The namespace could not be created",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Number of requests that can be made in a given amount of time",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining number of requests left in the current time window",
                "schema": {
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                },
                "example": {
                  "error": "Invalid access token."
                }
              }
            }
          },
          "403": {
            "description": "User is not logged in",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Number of requests that can be made in a given amount of time",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining number of requests left in the current time window",
                "schema": {
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "429": {
            "description": "A client has sent too many requests in a given amount of time",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Number of requests that can be made in a given amount of time",
                "schema": {
                  "format": "int32"
                }
              },
              "Retry-After": {
                "description": "Number of seconds to wait after receiving a 429 response",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Number of seconds until the rate limit tokens will be fully filled to its maximum",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining number of requests left in the current time window",
                "schema": {
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/api/-/query": {
      "get": {
        "tags": [
          "registry-api"
        ],
        "summary": "Provides metadata of extensions matching the given parameters",
        "operationId": "getQuery",
        "parameters": [
          {
            "name": "namespaceName",
            "in": "query",
            "description": "Name of a namespace",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "foo"
          },
          {
            "name": "extensionName",
            "in": "query",
            "description": "Name of an extension",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "bar"
          },
          {
            "name": "extensionVersion",
            "in": "query",
            "description": "Version of an extension",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": 1
          },
          {
            "name": "extensionId",
            "in": "query",
            "description": "Identifier in the format {namespace}.{extension}",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "foo.bar"
          },
          {
            "name": "extensionUuid",
            "in": "query",
            "description": "Universally unique identifier of an extension",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": 5678
          },
          {
            "name": "namespaceUuid",
            "in": "query",
            "description": "Universally unique identifier of a namespace",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": 1234
          },
          {
            "name": "includeAllVersions",
            "in": "query",
            "description": "Whether to include all versions of an extension, ignored if extensionVersion is specified",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "targetPlatform",
            "in": "query",
            "description": "Target platform",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "win32-x64",
                "win32-ia32",
                "win32-arm64",
                "linux-x64",
                "linux-arm64",
                "linux-armhf",
                "alpine-x64",
                "alpine-arm64",
                "darwin-x64",
                "darwin-arm64",
                "web",
                "universal"
              ]
            },
            "example": "linux-x64"
          },
          {
            "name": "size",
            "in": "query",
            "description": "Maximal number of entries to return",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000,
              "minimum": 0
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of entries to skip (usually a multiple of the page size)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the (possibly empty) query results",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Number of requests that can be made in a given amount of time",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining number of requests left in the current time window",
                "schema": {
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryResult"
                }
              }
            }
          },
          "400": {
            "description": "The request contains an invalid parameter value",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Number of requests that can be made in a given amount of time",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining number of requests left in the current time window",
                "schema": {
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "error": "The 'extensionId' parameter must have the format 'namespace.extension'."
                }
              }
            }
          },
          "429": {
            "description": "A client has sent too many requests in a given amount of time",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Number of requests that can be made in a given amount of time",
                "schema": {
                  "format": "int32"
                }
              },
              "Retry-After": {
                "description": "Number of seconds to wait after receiving a 429 response",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Number of seconds until the rate limit tokens will be fully filled to its maximum",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining number of requests left in the current time window",
                "schema": {
                  "format": "int32"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "registry-api"
        ],
        "summary": "Provides metadata of extensions matching the given parameters. Deprecated: use GET /api/-/query instead.",
        "operationId": "postQuery",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryParam"
              }
            }
          },
          "required": true
        },
        "responses": {
          "301": {
            "description": "Returns redirect to GET /api/-/query.",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Number of requests that can be made in a given amount of time",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining number of requests left in the current time window",
                "schema": {
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryResult"
                }
              }
            }
          },
          "429": {
            "description": "A client has sent too many requests in a given amount of time",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Number of requests that can be made in a given amount of time",
                "schema": {
                  "format": "int32"
                }
              },
              "Retry-After": {
                "description": "Number of seconds to wait after receiving a 429 response",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Number of seconds until the rate limit tokens will be fully filled to its maximum",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining number of requests left in the current time window",
                "schema": {
                  "format": "int32"
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/api/-/publish": {
      "post": {
        "tags": [
          "registry-api"
        ],
        "summary": "Publish an extension by uploading a vsix file",
        "operationId": "publish_1",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "A personal access token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Uploaded vsix file to publish",
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successfully published the extension",
            "headers": {
              "X-RateLimit-Remaining": {
                "description": "Remaining number of requests left in the current time window",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Number of requests that can be made in a given amount of time",
                "schema": {
                  "format": "int32"
                }
              },
              "Location": {
                "description": "The URL of the extension metadata",
                "style": "simple",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Extension"
                }
              }
            }
          },
          "400": {
            "description": "The extension could not be published",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Number of requests that can be made in a given amount of time",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining number of requests left in the current time window",
                "schema": {
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "error": "Unknown publisher: foobar"
                }
              }
            }
          },
          "401": {
            "description": "The token is missing, invalid or expired",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Number of requests that can be made in a given amount of time",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining number of requests left in the current time window",
                "schema": {
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "error": "Invalid access token."
                }
              }
            }
          },
          "403": {
            "description": "The token is valid but has no publishing permission in the namespace, or the user has not signed a Publisher Agreement",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Number of requests that can be made in a given amount of time",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining number of requests left in the current time window",
                "schema": {
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "429": {
            "description": "A client has sent too many requests in a given amount of time",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Number of requests that can be made in a given amount of time",
                "schema": {
                  "format": "int32"
                }
              },
              "Retry-After": {
                "description": "Number of seconds to wait after receiving a 429 response",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Number of seconds until the rate limit tokens will be fully filled to its maximum",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining number of requests left in the current time window",
                "schema": {
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/api/-/namespace/create": {
      "post": {
        "tags": [
          "registry-api"
        ],
        "summary": "Create a namespace",
        "operationId": "createNamespace_1",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "A personal access token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Namespace"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successfully created the namespace",
            "headers": {
              "X-RateLimit-Remaining": {
                "description": "Remaining number of requests left in the current time window",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Number of requests that can be made in a given amount of time",
                "schema": {
                  "format": "int32"
                }
              },
              "Location": {
                "description": "The URL of the namespace metadata",
                "style": "simple",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                },
                "example": {
                  "success": "Created namespace foobar"
                }
              }
            }
          },
          "400": {
            "description": "The namespace could not be created",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Number of requests that can be made in a given amount of time",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining number of requests left in the current time window",
                "schema": {
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                },
                "example": {
                  "error": "Invalid access token."
                }
              }
            }
          },
          "429": {
            "description": "A client has sent too many requests in a given amount of time",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Number of requests that can be made in a given amount of time",
                "schema": {
                  "format": "int32"
                }
              },
              "Retry-After": {
                "description": "Number of seconds to wait after receiving a 429 response",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Number of seconds until the rate limit tokens will be fully filled to its maximum",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining number of requests left in the current time window",
                "schema": {
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/admin/scans/{scanId}/jobs/retry": {
      "post": {
        "tags": [
          "scan-api"
        ],
        "summary": "Retry all failed scanner jobs for a scan",
        "operationId": "retryFailedScannerJobs",
        "parameters": [
          {
            "name": "scanId",
            "in": "path",
            "description": "Scan ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 123
          }
        ],
        "responses": {
          "200": {
            "description": "Failed jobs re-queued; returns the updated scan in SCANNING state",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Number of requests that can be made in a given amount of time",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining number of requests left in the current time window",
                "schema": {
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScanResult"
                }
              }
            }
          },
          "400": {
            "description": "Scan is not terminal or has no failed jobs to retry",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Number of requests that can be made in a given amount of time",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining number of requests left in the current time window",
                "schema": {
                  "format": "int32"
                }
              }
            }
          },
          "404": {
            "description": "Scan or scanner jobs were not found",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Number of requests that can be made in a given amount of time",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining number of requests left in the current time window",
                "schema": {
                  "format": "int32"
                }
              }
            }
          },
          "403": {
            "description": "Administration role is required",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Number of requests that can be made in a given amount of time",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining number of requests left in the current time window",
                "schema": {
                  "format": "int32"
                }
              }
            }
          },
          "429": {
            "description": "A client has sent too many requests in a given amount of time",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Number of requests that can be made in a given amount of time",
                "schema": {
                  "format": "int32"
                }
              },
              "Retry-After": {
                "description": "Number of seconds to wait after receiving a 429 response",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Number of seconds until the rate limit tokens will be fully filled to its maximum",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining number of requests left in the current time window",
                "schema": {
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/admin/scans/files/decisions": {
      "post": {
        "tags": [
          "file-decision-api"
        ],
        "summary": "Create or update file decisions",
        "operationId": "makeFileDecisions",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FileDecisionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Decisions processed successfully",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Number of requests that can be made in a given amount of time",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining number of requests left in the current time window",
                "schema": {
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileDecisionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Number of requests that can be made in a given amount of time",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining number of requests left in the current time window",
                "schema": {
                  "format": "int32"
                }
              }
            }
          },
          "403": {
            "description": "Administration role is required",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Number of requests that can be made in a given amount of time",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining number of requests left in the current time window",
                "schema": {
                  "format": "int32"
                }
              }
            }
          },
          "429": {
            "description": "A client has sent too many requests in a given amount of time",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Number of requests that can be made in a given amount of time",
                "schema": {
                  "format": "int32"
                }
              },
              "Retry-After": {
                "description": "Number of seconds to wait after receiving a 429 response",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Number of seconds until the rate limit tokens will be fully filled to its maximum",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining number of requests left in the current time window",
                "schema": {
                  "format": "int32"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "file-decision-api"
        ],
        "summary": "Remove file decisions",
        "operationId": "deleteFileDecisions",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FileDecisionDeleteRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Deletions processed successfully",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Number of requests that can be made in a given amount of time",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining number of requests left in the current time window",
                "schema": {
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileDecisionDeleteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Number of requests that can be made in a given amount of time",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining number of requests left in the current time window",
                "schema": {
                  "format": "int32"
                }
              }
            }
          },
          "403": {
            "description": "Administration role is required",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Number of requests that can be made in a given amount of time",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining number of requests left in the current time window",
                "schema": {
                  "format": "int32"
                }
              }
            }
          },
          "429": {
            "description": "A client has sent too many requests in a given amount of time",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Number of requests that can be made in a given amount of time",
                "schema": {
                  "format": "int32"
                }
              },
              "Retry-After": {
                "description": "Number of seconds to wait after receiving a 429 response",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Number of seconds until the rate limit tokens will be fully filled to its maximum",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining number of requests left in the current time window",
                "schema": {
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/admin/scans/decisions": {
      "post": {
        "tags": [
          "scan-api"
        ],
        "summary": "Make security decisions for quarantined scans",
        "operationId": "makeScanDecisions",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScanDecisionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Decisions processed successfully",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Number of requests that can be made in a given amount of time",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining number of requests left in the current time window",
                "schema": {
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScanDecisionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or scan not in quarantined status",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Number of requests that can be made in a given amount of time",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining number of requests left in the current time window",
                "schema": {
                  "format": "int32"
                }
              }
            }
          },
          "403": {
            "description": "Administration role is required",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Number of requests that can be made in a given amount of time",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining number of requests left in the current time window",
                "schema": {
                  "format": "int32"
                }
              }
            }
          },
          "429": {
            "description": "A client has sent too many requests in a given amount of time",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Number of requests that can be made in a given amount of time",
                "schema": {
                  "format": "int32"
                }
              },
              "Retry-After": {
                "description": "Number of seconds to wait after receiving a 429 response",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Number of seconds until the rate limit tokens will be fully filled to its maximum",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining number of requests left in the current time window",
                "schema": {
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/admin/ratelimit/tiers/create": {
      "post": {
        "tags": [
          "rate-limit-api"
        ],
        "operationId": "createTier",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TierJson"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Number of requests that can be made in a given amount of time",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining number of requests left in the current time window",
                "schema": {
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TierJson"
                }
              }
            }
          },
          "429": {
            "description": "A client has sent too many requests in a given amount of time",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Number of requests that can be made in a given amount of time",
                "schema": {
                  "format": "int32"
                }
              },
              "Retry-After": {
                "description": "Number of seconds to wait after receiving a 429 response",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Number of seconds until the rate limit tokens will be fully filled to its maximum",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining number of requests left in the current time window",
                "schema": {
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/admin/ratelimit/customers/{name}/tokens": {
      "get": {
        "tags": [
          "rate-limit-api"
        ],
        "operationId": "getRateLimitTokens",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Number of requests that can be made in a given amount of time",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining number of requests left in the current time window",
                "schema": {
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RateLimitTokenJson"
                  }
                }
              }
            }
          },
          "429": {
            "description": "A client has sent too many requests in a given amount of time",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Number of requests that can be made in a given amount of time",
                "schema": {
                  "format": "int32"
                }
              },
              "Retry-After": {
                "description": "Number of seconds to wait after receiving a 429 response",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Number of seconds until the rate limit tokens will be fully filled to its maximum",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining number of requests left in the current time window",
                "schema": {
                  "format": "int32"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "rate-limit-api"
        ],
        "operationId": "createRateLimitToken",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "description",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Number of requests that can be made in a given amount of time",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining number of requests left in the current time window",
                "schema": {
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitTokenJson"
                }
              }
            }
          },
          "429": {
            "description": "A client has sent too many requests in a given amount of time",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Number of requests that can be made in a given amount of time",
                "schema": {
                  "format": "int32"
                }
              },
              "Retry-After": {
                "description": "Number of seconds to wait after receiving a 429 response",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Number of seconds until the rate limit tokens will be fully filled to its maximum",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining number of requests left in the current time window",
                "schema": {
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/admin/ratelimit/customers/{name}/remove-member": {
      "post": {
        "tags": [
          "rate-limit-api"
        ],
        "operationId": "removeCustomerMember",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "provider",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Number of requests that can be made in a given amount of time",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining number of requests left in the current time window",
                "schema": {
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Result"
                    },
                    {
                      "$ref": "#/components/schemas/Extension"
                    },
                    {
                      "$ref": "#/components/schemas/Namespace"
                    },
                    {
                      "$ref": "#/components/schemas/NamespaceMembershipList"
                    },
                    {
                      "$ref": "#/components/schemas/QueryResult"
                    },
                    {
                      "$ref": "#/components/schemas/ReviewList"
                    },
                    {
                      "$ref": "#/components/schemas/SearchResult"
                    },
                    {
                      "$ref": "#/components/schemas/User"
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "A client has sent too many requests in a given amount of time",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Number of requests that can be made in a given amount of time",
                "schema": {
                  "format": "int32"
                }
              },
              "Retry-After": {
                "description": "Number of seconds to wait after receiving a 429 response",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Number of seconds until the rate limit tokens will be fully filled to its maximum",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining number of requests left in the current time window",
                "schema": {
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/admin/ratelimit/customers/{name}/add-member": {
      "post": {
        "tags": [
          "rate-limit-api"
        ],
        "operationId": "addCustomerMember",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "provider",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Number of requests that can be made in a given amount of time",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining number of requests left in the current time window",
                "schema": {
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Result"
                    },
                    {
                      "$ref": "#/components/schemas/Extension"
                    },
                    {
                      "$ref": "#/components/schemas/Namespace"
                    },
                    {
                      "$ref": "#/components/schemas/NamespaceMembershipList"
                    },
                    {
                      "$ref": "#/components/schemas/QueryResult"
                    },
                    {
                      "$ref": "#/components/schemas/ReviewList"
                    },
                    {
                      "$ref": "#/components/schemas/SearchResult"
                    },
                    {
                      "$ref": "#/components/schemas/User"
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "A client has sent too many requests in a given amount of time",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Number of requests that can be made in a given amount of time",
                "schema": {
                  "format": "int32"
                }
              },
              "Retry-After": {
                "description": "Number of seconds to wait after receiving a 429 response",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Number of seconds until the rate limit tokens will be fully filled to its maximum",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining number of requests left in the current time window",
                "schema": {
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/admin/ratelimit/customers/create": {
      "post": {
        "tags": [
          "rate-limit-api"
        ],
        "operationId": "createCustomer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerJson"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Number of requests that can be made in a given amount of time",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining number of requests left in the current time window",
                "schema": {
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerJson"
                }
              }
            }
          },
          "429": {
            "description": "A client has sent too many requests in a given amount of time",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Number of requests that can be made in a given amount of time",
                "schema": {
                  "format": "int32"
                }
              },
              "Retry-After": {
                "description": "Number of seconds to wait after receiving a 429 response",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Number of seconds until the rate limit tokens will be fully filled to its maximum",
                "schema": {
                  "format": "int32"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining number of requests left in the current time window",
                "schema": {
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/admin/publisher/{provider}/{authId}/delete": {
      "post": {
        "tags": [
          "admin-api"
        ],
        "operationId": "forgetUser",
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "403": {
            "description": "Administration role is required",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Number of requests that can be made in a given amount of time",
                "schema": {
                  "format": "int32"
                }
              },
[...]
