openapi: 3.2.0
info:
  version: 1.0.0
  title: Openvsx Profile API
  description: Access information on Eclipse Foundation publisher agreements.
  license:
    name: Eclipse Public License - 2.0
    url: https://www.eclipse.org/legal/epl-2.0/
servers:
- url: https://api.eclipse.org/openvsx
  description: Production endpoint for Eclipse Foundation publisher agreement data
tags:
- name: Profile
paths:
  /profile:
    get:
      tags:
      - Profile
      summary: User profile
      description: Fetch the profile data for the current user.
      security:
      - OAuth2:
        - openvsx_publisher_agreement
        - openid
        - profile
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EfUsers'
        '403':
          description: Invalid credentials
        '500':
          description: Error while retrieving data
      operationId: getProfile
      x-operation-id-source: derived
components:
  schemas:
    Eca:
      type: object
      properties:
        signed:
          type: boolean
          description: Flag determining whether user has signed ECA.
        can_contribute_spec_project:
          type: boolean
          description: Flag determining whether users can contribute to a spec project.
      example:
        signed: true
        can_contribute_spec_project: true
    EfUsers:
      type: array
      items:
        $ref: '#/components/schemas/EfUser'
    ProfilePublisherAgreement:
      type: object
      properties:
        version:
          type: string
          description: the agreement document version.
      example:
        version: '1'
    EfUser:
      type: object
      properties:
        uid:
          type: string
          description: The unique user id.
        name:
          type: string
          description: The user's ef username name.
        picture:
          type: string
          description: URL of the user's picture.
        mail:
          oneOf:
          - type: string
          - type: 'null'
          description: The user's email.
        eca:
          oneOf:
          - $ref: '#/components/schemas/Eca'
          - type: 'null'
        is_committer:
          oneOf:
          - type: boolean
          - type: 'null'
          description: User's committer status.
        first_name:
          type: string
          description: The user's first name.
        last_name:
          type: string
          description: The user's last name.
        publisher_agreements:
          type: object
          propertyNames:
            description: The publisher agreement name.
          additionalProperties:
            $ref: '#/components/schemas/ProfilePublisherAgreement'
        github_handle:
          type: string
          description: The user's Github handle.
        twitter_handle:
          type: string
          description: The user's Twitter handle.
        org:
          oneOf:
          - type: string
          - type: 'null'
          description: The user's organization.
        org_id:
          oneOf:
          - type: integer
          - type: 'null'
          description: The user's organization id.
        job_title:
          type: string
          description: The user's job title at the organization.
        website:
          type: string
          description: The user's website.
        country:
          $ref: '#/components/schemas/Country'
        bio:
          oneOf:
          - type: string
          - type: 'null'
          description: The user's account bio
        interests:
          type: array
          items:
            type: string
          description: A list of the user's interests.
        working_groups_interests:
          oneOf:
          - type: 'null'
          - type: array
          description: A list of the user's working group interests.
        public_fields:
          oneOf:
          - type: 'null'
          - type: array
          description: A list of the user's public fields.
        mail_history:
          oneOf:
          - type: 'null'
          - type: array
          description: A list of the user's email history.
        mail_alternate:
          oneOf:
          - type: 'null'
          - type: array
          description: A list of the user's alternate emails.
        gerrit_url:
          oneOf:
          - type: string
          - type: 'null'
          description: The user's Gerrit URL.
        projects_url:
          oneOf:
          - type: string
          - type: 'null'
          description: The user's projects URL.
        mailinglist_url:
          oneOf:
          - type: string
          - type: 'null'
          description: The user's mailing list URL.
        mpc_favorites_url:
          oneOf:
          - type: string
          - type: 'null'
          description: The user's Marketplace favorites URL.
    Country:
      type: object
      properties:
        code:
          oneOf:
          - type: string
          - type: 'null'
          description: The country code.
        name:
          oneOf:
          - type: string
          - type: 'null'
      example:
        code: CA
        name: Canada
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.eclipse.org/oauth2/authorize
          tokenUrl: https://accounts.eclipse.org/oauth2/token
          scopes:
            openvsx_publisher_agreement: Submit and revoke your open-vsx.org publisher agreement.
            openid: Know who you are on accounts.eclipse.org.
            email: View your email address.
            profile: View basic information about your account.
