openapi: 3.2.0
info:
  title: Eclipse Newsroom REST Resources API
  version: '1.0'
  description: REST API for interacting with newsroom different endpoints.
servers:
- url: https://newsroom.eclipse.org
  description: The production API server
tags:
- name: Resources
paths:
  /api/resources:
    get:
      tags:
      - Resources
      summary: List resources
      description: Retrieve resources.
      parameters:
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PublishToFilter'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                required:
                - resources
                - pager
                properties:
                  resources:
                    type: array
                    items:
                      $ref: '#/components/schemas/Resource'
                  pager:
                    $ref: '#/components/schemas/Pager'
              example:
                resources:
                - id: '00001'
                  title: Example Resource Title
                  date: 2025-12-10T09:10:07-0500
                  body: This is an anonymised description of a downloadable resource.
                  direct_link: https://newsroom.eclipse.org/resources/example-resource.pdf
                  landing_link: https://newsroom.eclipse.org/resources/example-landing
                  image: https://newsroom.eclipse.org/images/resources/example-image.png
                  resource_type: white_paper
                  author:
                    name: Example Author
                    full_name: Example Author
                  publish_to:
                  - eclipse_org
                pager:
                  current_page: 0
                  total_items: '98'
                  total_pages: 5
                  items_per_page: '20'
      operationId: getApiResources
      x-operation-id-source: derived
components:
  parameters:
    PageSize:
      name: pagesize
      in: query
      description: The number of records to get per page, defaults to 20. Maximum value is 100.
      style: form
      explode: true
      schema:
        type: integer
        format: int32
    PublishToFilter:
      name: parameters[publish_to]
      in: query
      description: Filter events by publication target
      required: false
      schema:
        type: string
        enum:
        - eclipse_org
        - aice
        - adoptium
        - asciidoc
        - ecd_tools
        - dataspace
        - eclipse_events
        - edge_native
        - eclipse_ide
        - eclipse_iot
        - orc
        - research
        - security
        - sdv
        - sparkplug
        - jakarta_ee
        - oniro
        - openadx
        - opengenesis
        - openhwgroup
        - openmdm
        - openmobility
        - open_vsx
        - openpass
        - osgi
        - ospo_zone
        - science
        - tangle_ee
      example: eclipse_org
    Page:
      name: page
      in: query
      description: The number of the page.
      style: form
      explode: true
      schema:
        type: integer
        format: int32
  schemas:
    Resource:
      type: object
      required:
      - title
      - image
      properties:
        id:
          type: string
        title:
          type: string
        date:
          type: string
        body:
          type: string
        direct_link:
          type: string
          format: uri
        landing_link:
          type: string
          format: uri
        image:
          type: string
          format: uri
        resource_type:
          type: string
        author:
          $ref: '#/components/schemas/ResourceAuthor'
        publish_to:
          type: array
          items:
            type: string
    Pager:
      type: object
      required:
      - current_page
      - total_items
      - total_pages
      - items_per_page
      properties:
        current_page:
          type: integer
          format: int32
        total_items:
          type: string
        total_pages:
          type: integer
          format: int32
        items_per_page:
          type: string
    ResourceAuthor:
      type: object
      properties:
        name:
          type: string
        full_name:
          type: string
