openapi: 3.2.0
info:
  title: Eclipse Newsroom REST Events API
  version: '1.0'
  description: REST API for interacting with newsroom different endpoints.
servers:
- url: https://newsroom.eclipse.org
  description: The production API server
tags:
- name: Events
paths:
  /api/events:
    get:
      tags:
      - Events
      summary: Get events
      parameters:
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PublishToFilter'
      - name: parameters[type]
        in: query
        description: Filter events by event type
        required: false
        schema:
          type: string
          enum:
          - mefe
          - ocm
          - webinar
          - ec
          - ve
          - et
          - dc
          - ed
          - wg
          - ee
          - unknown
          - conference
        example: mefe
      - name: parameters[search]
        in: query
        description: Filter events by doing a search
        required: false
        schema:
          type: string
        example: something
      - name: parameters[ef_participation]
        in: query
        description: Filter events by participation
        required: false
        schema:
          type: string
          enum:
          - ef_speaking
          - ef_exhibiting
          - ef_event
          - ef_attending
          - member_org_participating
          - other
        example: ef_speaking
      - name: parameters[attendance_type]
        in: query
        description: Filter events by attendance type
        required: false
        schema:
          type: string
          enum:
          - virtual
          - in_person
          - hybrid
        example: virtual
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                required:
                - events
                - pager
                properties:
                  events:
                    type: array
                    items:
                      $ref: '#/components/schemas/Events'
                  pager:
                    $ref: '#/components/schemas/Pager'
              example:
                events:
                - id: '00001'
                  type: webinar
                  image: ''
                  attendance_type: virtual
                  ef_participation: ef_exhibiting
                  title: Example Technical Webinar
                  date: '2026-01-01T14:00:00Z'
                  end-date: '2026-01-01T15:00:00Z'
                  locationName: ''
                  description: 'This session covers general best practices and techniques for building reliable software systems.

                    '
                  infoLink: false
                  registration: https://eclipse.org/example-registration
                  address:
                    street: ''
                    country: null
                    city: null
                    zip: null
                    geoLoc:
                      lat: ''
                      lon: ''
                  field_content_publish_to:
                  - eclipse_org
                pager:
                  current_page: 0
                  total_items: '1060'
                  total_pages: 53
                  items_per_page: '20'
      operationId: getApiEvents
      x-operation-id-source: derived
components:
  parameters:
    PageSize:
      name: pagesize
      in: query
      description: The number of records to get per page, defaults to 20. Maximum value is 100.
      style: form
      explode: true
      schema:
        type: integer
        format: int32
    PublishToFilter:
      name: parameters[publish_to]
      in: query
      description: Filter events by publication target
      required: false
      schema:
        type: string
        enum:
        - eclipse_org
        - aice
        - adoptium
        - asciidoc
        - ecd_tools
        - dataspace
        - eclipse_events
        - edge_native
        - eclipse_ide
        - eclipse_iot
        - orc
        - research
        - security
        - sdv
        - sparkplug
        - jakarta_ee
        - oniro
        - openadx
        - opengenesis
        - openhwgroup
        - openmdm
        - openmobility
        - open_vsx
        - openpass
        - osgi
        - ospo_zone
        - science
        - tangle_ee
      example: eclipse_org
    Page:
      name: page
      in: query
      description: The number of the page.
      style: form
      explode: true
      schema:
        type: integer
        format: int32
  schemas:
    Pager:
      type: object
      required:
      - current_page
      - total_items
      - total_pages
      - items_per_page
      properties:
        current_page:
          type: integer
          format: int32
        total_items:
          type: string
        total_pages:
          type: integer
          format: int32
        items_per_page:
          type: string
    EventsGeoLoc:
      type: object
      properties:
        lat:
          type: string
        lon:
          type: string
    EventsAddress:
      type: object
      properties:
        street:
          type: string
        country:
          type:
          - string
          - 'null'
        city:
          type:
          - string
          - 'null'
        zip:
          type:
          - string
          - 'null'
        geoLoc:
          $ref: '#/components/schemas/EventsGeoLoc'
    Events:
      type: object
      required:
      - title
      - type
      - attendance_type
      - ef_participation
      - date
      - end-date
      - field_content_publish_to
      properties:
        id:
          type: string
        type:
          type: string
        image:
          type: string
          format: uri
        attendance_type:
          type: string
        ef_participation:
          type: string
        title:
          type: string
        date:
          type: string
          format: date-time
        end-date:
          type: string
          format: date-time
        locationName:
          type: string
        description:
          type: string
        infoLink:
          type: boolean
        registration:
          type: string
          format: uri
        address:
          $ref: '#/components/schemas/EventsAddress'
        field_content_publish_to:
          type: array
          items:
            type: string
