openapi: 3.2.0
info:
  version: 1.0.0
  title: Eclipse GeoIP REST Countries API
  description: REST client to retrieve GeoIP information about IP addresses and to lookup IP information for countries given their ISO country code.
  license:
    name: Eclipse Public License - 2.0
    url: https://www.eclipse.org/legal/epl-2.0/
servers:
- url: http://api.eclipse.org/geoip
  description: Production endpoint for Eclipse GeoIP REST API
tags:
- name: Countries
paths:
  /countries/{ipAddr}:
    description: 'Retrieves country data for a given IP address in either IPv4 or IPv6 format. In cases where blacklisted IP''s are sent (such as local addresses, or addresses outside of range), a server error is returned.

      '
    get:
      summary: Get country
      parameters:
      - name: ipAddr
        in: path
        required: true
        description: a valid IP address to retrieve the country of origin for.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Country'
        '400':
          description: Bad Request - Invalid IP
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - Countries
      operationId: getCountriesByIpAddr
      x-operation-id-source: derived
components:
  schemas:
    Error:
      type: object
      additionalProperties: false
      required:
      - status_code
      - message
      properties:
        status_code:
          type: integer
          description: HTTP response code
        message:
          type: string
          description: Message containing error information
        url:
          type:
          - string
          - 'null'
          description: The URL
        friendly_message:
          oneOf:
          - type: string
          - type: 'null'
          description: The friendly message for the error
    Country:
      type: object
      additionalProperties: false
      required:
      - geoname_id
      - iso_code
      - names
      - is_in_european_union
      properties:
        geoname_id:
          type: integer
          description: The MaxMind API unique ID for a geographic location.
        iso_code:
          type: string
          description: The 2 letter ISO code for the current country.
        names:
          type: object
          description: The locale of the country name.
          additionalProperties:
            type: string
            description: Name of the country in the given locale.
          example:
            en: Canada
            pt-BR: Canadá
        is_in_european_union:
          type: boolean
          description: TRUE if the current country is in the European Union, and false otherwise.
