openapi: 3.2.0
info:
  title: Eclipse RESTful Marketplace Favorites API
  description: This describes the resources that make up the official Eclipse Foundation REST API.
  contact: {}
  version: '1.0'
servers:
- url: https://api.eclipse.org
  description: The production API server
tags:
- name: Marketplace Favorites
  description: 'The Eclipse MarketPlace is a place to discover, share, and install relevant Eclipse plugins and solutions.

    Think of it like an app store for Eclipse solutions.'
paths:
  /marketplace/favorites:
    get:
      tags:
      - Marketplace Favorites
      summary: Search Favorites
      description: Retrieve all favorites or retrieve favorites for a specific user.
      operationId: SearchFavorites
      parameters:
      - name: name
        in: query
        description: A valid Eclipse username.
        style: form
        explode: true
        schema:
          type: string
      - name: page
        in: query
        description: The index of the page to get, defaults to 1.
        style: form
        explode: true
        schema:
          type: integer
          format: int32
      - name: pagesize
        in: query
        description: The number of records to get per page, defaults to 20. Maximum value is 100.
        style: form
        explode: true
        schema:
          type: integer
          format: int32
      security:
      - oauth2:
        - read
      responses:
        '200':
          description: ''
          headers:
            Link:
              content:
                text/plain:
                  schema:
                    type: string
                  example: <https://api.eclipse.org/marketplace/favorites?page=2&amp;pagesize=5>; rel="next", <https://api.eclipse.org/marketplace/favorites?page=294&amp;pagesize=5>; rel="last", <https://api.eclipse.org/marketplace/favorites?page=1&amp;pagesize=5>; rel="first", <https://api.eclipse.org/marketplace/favorites?page=1&amp;pagesize=5>; rel="self"
            X-Rate-Limit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-Rate-Limit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Rate-Limit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchFavoritesresponse'
              example:
                mpc_favorites:
                - content_id: 27025
                  count: 677
                  timestamp: 1496973302
                - content_id: 979
                  count: 675
                  timestamp: 1496687525
                - content_id: 1099
                  count: 630
                  timestamp: 1496955226
                - content_id: 171
                  count: 572
                  timestamp: 1496728909
                - content_id: 1336
                  count: 555
                  timestamp: 1496679696
                result:
                  count: 1466
                  range:
                    since: 0
                    until: 1497023920
      deprecated: false
  /marketplace/favorites/{content_id}:
    get:
      tags:
      - Marketplace Favorites
      summary: Retrieve Favorites
      description: Fetch favorites for a specific listing on Eclipse MarketPlace.
      operationId: RetrieveFavorites
      parameters:
      - name: content_id
        in: path
        description: Unique identifier of the listing, e.g., 123, 134.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: name
        in: query
        description: A valid Eclipse username.
        style: form
        explode: true
        schema:
          type: string
      - name: page
        in: query
        description: The index of the page to get, defaults to 1.
        style: form
        explode: true
        schema:
          type: integer
          format: int32
      - name: pagesize
        in: query
        description: The number of records to get per page, defaults to 20. Maximum value is 100.
        style: form
        explode: true
        schema:
          type: integer
          format: int32
      security:
      - oauth2:
        - read
      responses:
        '200':
          description: ''
          headers:
            Link:
              content:
                text/plain:
                  schema:
                    type: string
                  example: <https://api.eclipse.org/marketplace/favorites/114?page=2&amp;pagesize=5>; rel="next", <https://api.eclipse.org/marketplace/favorites/114?page=99&amp;pagesize=5>; rel="last", <https://api.eclipse.org/marketplace/favorites/114?page=1&amp;pagesize=5>; rel="first", <https://api.eclipse.org/marketplace/favorites/114?page=1&amp;pagesize=5>; rel="self"
            X-Rate-Limit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-Rate-Limit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Rate-Limit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveFavoritesresponse'
              example:
                users:
                - uid: 1
                  name: webdev
                  full_name: Christopher Guindon
                  picture: https://api.eclipse.org/sites/default/files/styles/site_login_profile_thumbnail/public/profile_pictures/picture-1-1490713016.png?itok=j23V_zvl
                  mpc_list_name: Eclipse Foundation Webdev team list
                  timestamp: 1461185652
                  profile_url: https://api.eclipse.org/account/profile/webdev
                  html_profile_url: https://accounts.eclipse.org/users/webdev
                  mpc_favorites_url: https://api.eclipse.org/marketplace/favorites/?name=webdev
                  html_mpc_favorites_url: https://marketplace.eclipse.org/user/webdev/favorites
                - uid: 12
                  name: creckord
                  full_name: Carsten Reckord
                  picture: https://secure.gravatar.com/avatar/cfa23205cce07923a8c4e3f4b0824389.jpg?d=mm&s=185&r=G
                  mpc_list_name: Favorites for Carsten Reckord
                  timestamp: 1494936399
                  profile_url: https://api.eclipse.org/account/profile/creckord
                  html_profile_url: https://accounts.eclipse.org/users/creckord
                  mpc_favorites_url: https://api.eclipse.org/marketplace/favorites/?name=creckord
                  html_mpc_favorites_url: https://marketplace.eclipse.org/user/creckord/favorites
                - uid: 70
                  name: bandruschuk
                  full_name: Borislav Andruschuk
                  picture: https://secure.g.ravatar.com/avatar/c1d9c95b0675f3b6e0bf7868207841c2.jpg?d=mm&s=185&r=G
                  mpc_list_name: Favorites for Borislav Andruschuk
                  timestamp: 1461162980
                  profile_url: https://api.eclipse.org/account/profile/bandruschuk
                  html_profile_url: https://accounts.eclipse.org/users/bandruschuk
                  mpc_favorites_url: https://api.eclipse.org/marketplace/favorites/?name=bandruschuk
                  html_mpc_favorites_url: https://marketplace.eclipse.org/user/bandruschuk/favorites
                - uid: 97
                  name: cvedovinid70
                  full_name: Claude Vedovini
                  picture: https://secure.g.ravatar.com/avatar/8ed6098669efdf6ac398b47b262effcf.jpg?d=mm&s=185&r=G
                  mpc_list_name: Favorites for Claude Vedovini
                  timestamp: 1461162986
                  profile_url: https://api.eclipse.org/account/profile/cvedovinid70
                  html_profile_url: https://accounts.eclipse.org/users/cvedovinid70
                  mpc_favorites_url: https://api.eclipse.org/marketplace/favorites/?name=cvedovinid70
                  html_mpc_favorites_url: https://marketplace.eclipse.org/user/cvedovinid70/favorites
                - uid: 102
                  name: fzadroznyr0g
                  full_name: Fabio Zadrozny
                  picture: https://secure.g.ravatar.com/avatar/70fc26faedcbfc82344a0b347053aaa0.jpg?d=mm&s=185&r=G
                  mpc_list_name: Favorites for Fabio Zadrozny
                  timestamp: 1461162987
                  profile_url: https://api.eclipse.org/account/profile/fzadroznyr0g
                  html_profile_url: https://accounts.eclipse.org/users/fzadroznyr0g
                  mpc_favorites_url: https://api.eclipse.org/marketplace/favorites/?name=fzadroznyr0g
                  html_mpc_favorites_url: https://marketplace.eclipse.org/user/fzadroznyr0g/favorites
                result:
                  count: 494
      deprecated: false
    post:
      tags:
      - Marketplace Favorites
      summary: Add Favorite
      description: Add a listings from a user favorite list. Requires the `mpc_update` scope.
      operationId: AddFavorite
      parameters:
      - name: content_id
        in: path
        description: Unique identifier of the listing, e.g., 123, 134.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Content-Type
        in: header
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: application/json
      security:
      - oauth2:
        - write
      responses:
        '200':
          description: ''
          headers:
            Link:
              content:
                text/plain:
                  schema:
                    type: string
                  example: <https://api.eclipse.org/marketplace/favorites/3274405?page=1&amp;pagesize=100>; rel="last", <https://api.eclipse.org/marketplace/favorites/3274405?page=1&amp;pagesize=100>; rel="first", <https://api.eclipse.org/marketplace/favorites/3274405?page=1&amp;pagesize=100>; rel="self"
            Etag:
              content:
                text/plain:
                  schema:
                    type: string
                  example: '"9f76b4dde4cb5146daa5686a7f4376084dbe41bf9c9d4a12b722fe1062eb48eb"'
            X-Rate-Limit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-Rate-Limit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Rate-Limit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
            Last-Modified:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Fri, 09 Jun 2017 17:41:33 GMT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddFavoriteresponse'
              example:
                mpc_favorites:
                - content_id: 3274405
                  count: 70
                  timestamp: 1497030093
                mpc_list_name: <b>Jaa<b>
                user:
                  uid: 1
                  name: webdev
                  full_name: Christopher Guindon
                  picture: https://secure.gravatar.com/avatar/81d7b21d89fa05b42a5e8103ee70cb14.jpg?d=mm&s=185&r=G
                  profile_url: https://api.eclipse.org/account/profile/webdev
                  html_profile_url: https://accounts.eclipse.org/users/webdev
                  mpc_favorites_url: https://api.eclipse.org/marketplace/favorites/?name=webdev
                  html_mpc_favorites_url: https://marketplace.eclipse.org/user/webdev/favorites
                result:
                  count: 1
                  range:
                    since: 0
                    until: 1497030093
      deprecated: false
    delete:
      tags:
      - Marketplace Favorites
      summary: Remove Favorite
      description: Remove a listings from a user favorite list. Requires the `mpc_update` scope.
      operationId: RemoveFavorite
      parameters:
      - name: content_id
        in: path
        description: Unique identifier of the listing, e.g., 123, 134.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Content-Type
        in: header
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: application/json
      security:
      - oauth2:
        - write
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
  /marketplace/favorites/random:
    get:
      tags:
      - Marketplace Favorites
      summary: Random Favorites
      description: Fetch random favorites.
      operationId: RandomFavorites
      parameters:
      - name: page
        in: query
        description: The index of the page to get, defaults to 1.
        style: form
        explode: true
        schema:
          type: integer
          format: int32
      - name: pagesize
        in: query
        description: The number of records to get per page, defaults to 20. Maximum value is 100.
        style: form
        explode: true
        schema:
          type: integer
          format: int32
      security:
      - oauth2:
        - read
      responses:
        '200':
          description: ''
          headers:
            Link:
              content:
                text/plain:
                  schema:
                    type: string
                  example: <https://api.eclipse.org/marketplace/favorites/random?page=1&amp;pagesize=5>; rel="last", <https://api.eclipse.org/marketplace/favorites/random?page=1&amp;pagesize=5>; rel="first", <https://api.eclipse.org/marketplace/favorites/random?page=1&amp;pagesize=5>; rel="self"
            X-Rate-Limit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-Rate-Limit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-Rate-Limit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RandomFavoritesresponse'
              example:
                users:
                - uid: 3470
                  name: xxieuk4
                  full_name: Xie Xie
                  picture: https://secure.gravatar.com/avatar/c026fd755eb489e0005df10f11cfc1d3.jpg?d=mm&s=185&r=G
                  mpc_list_name: Favorites for Xie Xie
                  timestamp: 1461163708
                  profile_url: https://api.eclipse.org/account/profile/xxieuk4
                  html_profile_url: https://accounts.eclipse.org/users/xxieuk4
                  mpc_favorites_url: https://api.eclipse.org/marketplace/favorites/?name=xxieuk4
                  html_mpc_favorites_url: https://marketplace.eclipse.org/user/xxieuk4/favorites
                  count: 6
                - uid: 348551
                  name: szampini
                  full_name: Simone Zampini
                  picture: https://secure.g.ravatar.com/avatar/71eb311c431ee16ed29833aeff0d87d2.jpg?d=mm&s=185&r=G
                  mpc_list_name: Favorites for Simone Zampini
                  timestamp: 1490352801
                  profile_url: https://api.eclipse.org/account/profile/szampini
                  html_profile_url: https://accounts.eclipse.org/users/szampini
                  mpc_favorites_url: https://api.eclipse.org/marketplace/favorites/?name=szampini
                  html_mpc_favorites_url: https://marketplace.eclipse.org/user/szampini/favorites
                  count: 8
                - uid: 32625
                  name: swilke
                  full_name: Steffen Wilke
                  picture: https://secure.g.ravatar.com/avatar/dba2f866944d0d813d3977b3d70e4be9.jpg?d=mm&s=185&r=G
                  mpc_list_name: Favorites for Steffen Wilke
                  timestamp: 1491998786
                  profile_url: https://api.eclipse.org/account/profile/swilke
                  html_profile_url: https://accounts.eclipse.org/users/swilke
                  mpc_favorites_url: https://api.eclipse.org/marketplace/favorites/?name=swilke
                  html_mpc_favorites_url: https://marketplace.eclipse.org/user/swilke/favorites
                  count: 2
                - uid: 168
                  name: bgrill
                  full_name: Balazs Grill
                  picture: https://secure.g.ravatar.com/avatar/6da5a9178b8752078c97909601c80ba9.jpg?d=mm&s=185&r=G
                  mpc_list_name: Favorites for Balazs Grill
                  timestamp: 1461163003
                  profile_url: https://api.eclipse.org/account/profile/bgrill
                  html_profile_url: https://accounts.eclipse.org/users/bgrill
                  mpc_favorites_url: https://api.eclipse.org/marketplace/favorites/?name=bgrill
                  html_mpc_favorites_url: https://marketplace.eclipse.org/user/bgrill/favorites
                  count: 9
                - uid: 4337
                  name: kvr978
                  full_name: K R
                  picture: https://secure.g.ravatar.com/avatar/d5f2eaa1a249b0ce0911db783e0c5531.jpg?d=mm&s=185&r=G
                  mpc_list_name: Favorites for K R
                  timestamp: 1461163897
                  profile_url: https://api.eclipse.org/account/profile/kvr978
                  html_profile_url: https://accounts.eclipse.org/users/kvr978
                  mpc_favorites_url: https://api.eclipse.org/marketplace/favorites/?name=kvr978
                  html_mpc_favorites_url: https://marketplace.eclipse.org/user/kvr978/favorites
                  count: 7
                result:
                  count: 5
      deprecated: false
  /marketplace/favorites/rename_list:
    post:
      tags:
      - Marketplace Favorites
      summary: Rename Favorite List
      description: Create a custom name for the user favorite list.
      operationId: RenameFavoriteList
      parameters:
      - name: content_id
        in: query
        description: Unique identifier of the listing, e.g., 123, 134.
        required: true
        style: form
        explode: true
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RenameFavoriteListrequest'
            example:
              list_name: New list name
        required: true
      security:
      - oauth2:
        - write
      responses:
        '204':
          description: ''
          headers: {}
      deprecated: false
components:
  schemas:
    RenameFavoriteListrequest:
      title: RenameFavoriteListrequest
      required:
      - list_name
      type: object
      properties:
        list_name:
          type: string
      example:
        list_name: New list name
    RetrieveFavoritesresponse:
      title: RetrieveFavoritesresponse
      required:
      - users
      - result
      type: object
      properties:
        users:
          type: array
          items:
            $ref: '#/components/schemas/User'
          description: ''
        result:
          $ref: '#/components/schemas/Result1'
      example:
        users:
        - uid: 1
          name: webdev
          full_name: Christopher Guindon
          picture: https://api.eclipse.org/sites/default/files/styles/site_login_profile_thumbnail/public/profile_pictures/picture-1-1490713016.png?itok=j23V_zvl
          mpc_list_name: Eclipse Foundation Webdev team list
          timestamp: 1461185652
          profile_url: https://api.eclipse.org/account/profile/webdev
          html_profile_url: https://accounts.eclipse.org/users/webdev
          mpc_favorites_url: https://api.eclipse.org/marketplace/favorites/?name=webdev
          html_mpc_favorites_url: https://marketplace.eclipse.org/user/webdev/favorites
        - uid: 12
          name: creckord
          full_name: Carsten Reckord
          picture: https://secure.gravatar.com/avatar/cfa23205cce07923a8c4e3f4b0824389.jpg?d=mm&s=185&r=G
          mpc_list_name: Favorites for Carsten Reckord
          timestamp: 1494936399
          profile_url: https://api.eclipse.org/account/profile/creckord
          html_profile_url: https://accounts.eclipse.org/users/creckord
          mpc_favorites_url: https://api.eclipse.org/marketplace/favorites/?name=creckord
          html_mpc_favorites_url: https://marketplace.eclipse.org/user/creckord/favorites
        - uid: 70
          name: bandruschuk
          full_name: Borislav Andruschuk
          picture: https://secure.g.ravatar.com/avatar/c1d9c95b0675f3b6e0bf7868207841c2.jpg?d=mm&s=185&r=G
          mpc_list_name: Favorites for Borislav Andruschuk
          timestamp: 1461162980
          profile_url: https://api.eclipse.org/account/profile/bandruschuk
          html_profile_url: https://accounts.eclipse.org/users/bandruschuk
          mpc_favorites_url: https://api.eclipse.org/marketplace/favorites/?name=bandruschuk
          html_mpc_favorites_url: https://marketplace.eclipse.org/user/bandruschuk/favorites
        - uid: 97
          name: cvedovinid70
          full_name: Claude Vedovini
          picture: https://secure.g.ravatar.com/avatar/8ed6098669efdf6ac398b47b262effcf.jpg?d=mm&s=185&r=G
          mpc_list_name: Favorites for Claude Vedovini
          timestamp: 1461162986
          profile_url: https://api.eclipse.org/account/profile/cvedovinid70
          html_profile_url: https://accounts.eclipse.org/users/cvedovinid70
          mpc_favorites_url: https://api.eclipse.org/marketplace/favorites/?name=cvedovinid70
          html_mpc_favorites_url: https://marketplace.eclipse.org/user/cvedovinid70/favorites
        - uid: 102
          name: fzadroznyr0g
          full_name: Fabio Zadrozny
          picture: https://secure.g.ravatar.com/avatar/70fc26faedcbfc82344a0b347053aaa0.jpg?d=mm&s=185&r=G
          mpc_list_name: Favorites for Fabio Zadrozny
          timestamp: 1461162987
          profile_url: https://api.eclipse.org/account/profile/fzadroznyr0g
          html_profile_url: https://accounts.eclipse.org/users/fzadroznyr0g
          mpc_favorites_url: https://api.eclipse.org/marketplace/favorites/?name=fzadroznyr0g
          html_mpc_favorites_url: https://marketplace.eclipse.org/user/fzadroznyr0g/favorites
        result:
          count: 494
    SearchFavoritesresponse:
      title: SearchFavoritesresponse
      required:
      - mpc_favorites
      - result
      type: object
      properties:
        mpc_favorites:
          type: array
          items:
            $ref: '#/components/schemas/MpcFavorite'
          description: ''
        result:
          $ref: '#/components/schemas/Result'
      example:
        mpc_favorites:
        - content_id: 27025
          count: 677
          timestamp: 1496973302
        - content_id: 979
          count: 675
          timestamp: 1496687525
        - content_id: 1099
          count: 630
          timestamp: 1496955226
        - content_id: 171
          count: 572
          timestamp: 1496728909
        - content_id: 1336
          count: 555
          timestamp: 1496679696
        result:
          count: 1466
          range:
            since: 0
            until: 1497023920
    AddFavoriteresponse:
      title: AddFavoriteresponse
      required:
      - mpc_favorites
      - mpc_list_name
      - user
      - result
      type: object
      properties:
        mpc_favorites:
          type: array
          items:
            $ref: '#/components/schemas/MpcFavorite'
          description: ''
        mpc_list_name:
          type: string
        user:
          $ref: '#/components/schemas/User2'
        result:
          $ref: '#/components/schemas/Result'
      example:
        mpc_favorites:
        - content_id: 3274405
          count: 70
          timestamp: 1497030093
        mpc_list_name: <b>Jaa<b>
        user:
          uid: 1
          name: webdev
          full_name: Christopher Guindon
          picture: https://secure.gravatar.com/avatar/81d7b21d89fa05b42a5e8103ee70cb14.jpg?d=mm&s=185&r=G
          profile_url: https://api.eclipse.org/account/profile/webdev
          html_profile_url: https://accounts.eclipse.org/users/webdev
          mpc_favorites_url: https://api.eclipse.org/marketplace/favorites/?name=webdev
          html_mpc_favorites_url: https://marketplace.eclipse.org/user/webdev/favorites
        result:
          count: 1
          range:
            since: 0
            until: 1497030093
    User2:
      title: User2
      required:
      - uid
      - name
      - full_name
      - picture
      - profile_url
      - html_profile_url
      - mpc_favorites_url
      - html_mpc_favorites_url
      type: object
      properties:
        uid:
          type: string
        name:
          type: string
        full_name:
          type: string
        picture:
          type: string
        profile_url:
          type: string
        html_profile_url:
          type: string
        mpc_favorites_url:
          type: string
        html_mpc_favorites_url:
          type: string
      example:
        uid: 1
        name: webdev
        full_name: Christopher Guindon
        picture: https://secure.gravatar.com/avatar/81d7b21d89fa05b42a5e8103ee70cb14.jpg?d=mm&s=185&r=G
        profile_url: https://api.eclipse.org/account/profile/webdev
        html_profile_url: https://accounts.eclipse.org/users/webdev
        mpc_favorites_url: https://api.eclipse.org/marketplace/favorites/?name=webdev
        html_mpc_favorites_url: https://marketplace.eclipse.org/user/webdev/favorites
    User:
      title: User
      required:
      - uid
      - name
      - full_name
      - picture
      - mpc_list_name
      - timestamp
      - profile_url
      - html_profile_url
      - mpc_favorites_url
      - html_mpc_favorites_url
      type: object
      properties:
        uid:
          type: string
        name:
          type: string
        full_name:
          type: string
        picture:
          type: string
        mpc_list_name:
          type: string
        timestamp:
          type: string
        profile_url:
          type: string
        html_profile_url:
          type: string
        mpc_favorites_url:
          type: string
        html_mpc_favorites_url:
          type: string
      example:
        uid: 1
        name: webdev
        full_name: Christopher Guindon
        picture: https://api.eclipse.org/sites/default/files/styles/site_login_profile_thumbnail/public/profile_pictures/picture-1-1490713016.png?itok=j23V_zvl
        mpc_list_name: Eclipse Foundation Webdev team list
        timestamp: 1461185652
        profile_url: https://api.eclipse.org/account/profile/webdev
        html_profile_url: https://accounts.eclipse.org/users/webdev
        mpc_favorites_url: https://api.eclipse.org/marketplace/favorites/?name=webdev
        html_mpc_favorites_url: https://marketplace.eclipse.org/user/webdev/favorites
    Result1:
      title: Result1
      required:
      - count
      type: object
      properties:
        count:
          type: integer
          format: int32
      example:
        count: 494
    RandomFavoritesresponse:
      title: RandomFavoritesresponse
      required:
      - users
      - result
      type: object
      properties:
        users:
          type: array
          items:
            $ref: '#/components/schemas/User1'
          description: ''
        result:
          $ref: '#/components/schemas/Result1'
      example:
        users:
        - uid: 3470
          name: xxieuk4
          full_name: Xie Xie
          picture: https://secure.gravatar.com/avatar/c026fd755eb489e0005df10f11cfc1d3.jpg?d=mm&s=185&r=G
          mpc_list_name: Favorites for Xie Xie
          timestamp: 1461163708
          profile_url: https://api.eclipse.org/account/profile/xxieuk4
          html_profile_url: https://accounts.eclipse.org/users/xxieuk4
          mpc_favorites_url: https://api.eclipse.org/marketplace/favorites/?name=xxieuk4
          html_mpc_favorites_url: https://marketplace.eclipse.org/user/xxieuk4/favorites
          count: 6
        - uid: 348551
          name: szampini
          full_name: Simone Zampini
          picture: https://secure.g.ravatar.com/avatar/71eb311c431ee16ed29833aeff0d87d2.jpg?d=mm&s=185&r=G
          mpc_list_name: Favorites for Simone Zampini
          timestamp: 1490352801
          profile_url: https://api.eclipse.org/account/profile/szampini
          html_profile_url: https://accounts.eclipse.org/users/szampini
          mpc_favorites_url: https://api.eclipse.org/marketplace/favorites/?name=szampini
          html_mpc_favorites_url: https://marketplace.eclipse.org/user/szampini/favorites
          count: 8
        - uid: 32625
          name: swilke
          full_name: Steffen Wilke
          picture: https://secure.g.ravatar.com/avatar/dba2f866944d0d813d3977b3d70e4be9.jpg?d=mm&s=185&r=G
          mpc_list_name: Favorites for Steffen Wilke
          timestamp: 1491998786
          profile_url: https://api.eclipse.org/account/profile/swilke
          html_profile_url: https://accounts.eclipse.org/users/swilke
          mpc_favorites_url: https://api.eclipse.org/marketplace/favorites/?name=swilke
          html_mpc_favorites_url: https://marketplace.eclipse.org/user/swilke/favorites
          count: 2
        - uid: 168
          name: bgrill
          full_name: Balazs Grill
          picture: https://secure.g.ravatar.com/avatar/6da5a9178b8752078c97909601c80ba9.jpg?d=mm&s=185&r=G
          mpc_list_name: Favorites for Balazs Grill
          timestamp: 1461163003
          profile_url: https://api.eclipse.org/account/profile/bgrill
          html_profile_url: https://accounts.eclipse.org/users/bgrill
          mpc_favorites_url: https://api.eclipse.org/marketplace/favorites/?name=bgrill
          html_mpc_favorites_url: https://marketplace.eclipse.org/user/bgrill/favorites
          count: 9
        - uid: 4337
          name: kvr978
          full_name: K R
          picture: https://secure.g.ravatar.com/avatar/d5f2eaa1a249b0ce0911db783e0c5531.jpg?d=mm&s=185&r=G
          mpc_list_name: Favorites for K R
          timestamp: 1461163897
          profile_url: https://api.eclipse.org/account/profile/kvr978
          html_profile_url: https://accounts.eclipse.org/users/kvr978
          mpc_favorites_url: https://api.eclipse.org/marketplace/favorites/?name=kvr978
          html_mpc_favorites_url: https://marketplace.eclipse.org/user/kvr978/favorites
          count: 7
        result:
          count: 5
    Result:
      title: Result
      required:
      - count
      - range
      type: object
      properties:
        count:
          type: integer
          format: int32
        range:
          $ref: '#/components/schemas/Range'
      example:
        count: 1466
        range:
          since: 0
          until: 1497023920
    User1:
      title: User1
      required:
      - uid
      - name
      - full_name
      - picture
      - mpc_list_name
      - timestamp
      - profile_url
      - html_profile_url
      - mpc_favorites_url
      - html_mpc_favorites_url
      - count
      type: object
      properties:
        uid:
          type: string
        name:
          type: string
        full_name:
          type: string
        picture:
          type: string
        mpc_list_name:
          type: string
        timestamp:
          type: string
        profile_url:
          type: string
        html_profile_url:
          type: string
        mpc_favorites_url:
          type: string
        html_mpc_favorites_url:
          type: string
        count:
          type: string
      example:
        uid: 3470
        name: xxieuk4
        full_name: Xie Xie
        picture: https://secure.gravatar.com/avatar/c026fd755eb489e0005df10f11cfc1d3.jpg?d=mm&s=185&r=G
        mpc_list_name: Favorites for Xie Xie
        timestamp: 1461163708
        profile_url: https://api.eclipse.org/account/profile/xxieuk4
        html_profile_url: https://accounts.eclipse.org/users/xxieuk4
        mpc_favorites_url: https://api.eclipse.org/marketplace/favorites/?name=xxieuk4
        html_mpc_favorites_url: https://marketplace.eclipse.org/user/xxieuk4/favorites
        count: 6
    Range:
      title: Range
      required:
      - since
      - until
      type: object
      properties:
        since:
          type: integer
          format: int32
        until:
          type: integer
          format: int32
      example:
        since: 0
        until: 1497023920
    MpcFavorite:
      title: MpcFavorite
      required:
      - content_id
      - count
      - timestamp
      type: object
      properties:
        content_id:
          type: string
        count:
          type: string
        timestamp:
          type: string
      example:
        content_id: 27025
        count: 677
        timestamp: 1496973302
  headers:
    X-RateLimit-Reset:
      schema:
        type: string
      example: 3553
    X-RateLimit-Limit:
      schema:
        type: string
      example: 1000
    X-RateLimit-Remaining:
      schema:
        type: string
      example: 964
  securitySchemes:
    oauth2:
      description: 'Get access to data while protecting your account credentials.

        OAuth2 is also a safer and more secure way to give you access.

        '
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.php55.dev.docker/oauth2/authorize
          tokenUrl: https://accounts.php55.dev.docker/oauth2/token
          scopes:
            write: Grants write access
            read: Grants read access
