openapi: 3.2.0
info:
  version: 1.1.0
  title: Eclipse Foundation Git ECA Reports API
  description: Collection of API endpoints used in the validation and management of external Git services, such as Gitlab and Github.
  contact:
    name: IT support
    url: https://gitlab.eclipse.org/eclipsefdn/it/api/git-eca-rest-api/-/issues
  license:
    name: Eclipse Public License - 2.0
    url: https://www.eclipse.org/legal/epl-2.0/
servers:
- url: https://api.eclipse.org/git
  description: Production endpoint for the Git ECA validation API
tags:
- name: Reports
  description: Reports on metadata associated with Git systems managed by the Eclipse Foundation
paths:
  /reports/gitlab/private-projects:
    parameters:
    - name: key
      in: query
      description: The endpoint access key
      required: true
      schema:
        type: string
    - name: status
      in: query
      description: the project's current status - active/deleted
      required: false
      schema:
        type: string
    - name: since
      in: query
      description: Starting date range for project creation date - yyyy-MM-dd
      required: false
      schema:
        type: string
    - name: until
      in: query
      description: Ending date range for project creation date - yyyy-MM-dd
      required: false
      schema:
        type: string
    get:
      operationId: getPrivateProjectEvents
      tags:
      - Reports
      summary: Gitlab private project event report
      description: Returns list of private project events using desired filters
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateProjectEvents'
        '400':
          description: Bad Request - invalid non-null prams
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - invalid key
        '500':
          description: Error while processing request
components:
  schemas:
    PrivateProjectData:
      type: object
      additionalProperties: false
      required:
      - user_id
      - project_id
      - project_path
      - ef_username
      - creation_date
      properties:
        user_id:
          type: integer
          description: the project creator's GitLab id
        project_id:
          type: integer
          description: The project GitLab id
        project_path:
          type: string
          description: the project's path with namespace
        ef_username:
          type: string
          description: the user's EF account name
        parent_project:
          type:
          - integer
          - 'null'
          description: the parent project if it exists. Indicates this project is a fork
        creation_date:
          type: string
          description: The project creation date
        deletion_date:
          type:
          - string
          - 'null'
          description: the project deletion date if it was deleted
    Error:
      type: object
      additionalProperties: false
      required:
      - status_code
      - message
      properties:
        status_code:
          type: integer
          description: HTTP response code
        message:
          type: string
          description: Message containing error information
        url:
          type:
          - string
          - 'null'
          description: The URL
        friendly_message:
          type:
          - string
          - 'null'
          description: The optional friendly message for the error
    PrivateProjectEvents:
      type: array
      items:
        $ref: '#/components/schemas/PrivateProjectData'
